.courses-container {
  padding: 20px;
  border-radius: 20px;
  margin-top: 2px;
  background: linear-gradient(to right, #efae0a, #8abc20);
}

.courses-header {
  text-align: center;
  margin-bottom: 80px;
  background-color: rgb(250, 235, 215);
  padding-bottom: 5px;
  border-radius: 20px;
}
.courses-header p{
    font-size: 1.4rem;
    color: #555;
}
.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 100px;
}

.course-item {
  background: linear-gradient(to right,rgb(250, 235, 215),#baba99);
  border: 5px solid #f53d05;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
.course-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    transform: translateY(-5px);
    color: #f53d05;
    border-color: #0515f5;
}
.course-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.course-item p {
  color: #666;
  font-size: 1.3rem
}
.course-item img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: -70px;
}
.course-item :hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.course-duration {
  background-color: #e4ef8f;
  padding: 5px;
  border-radius: 4px;
  border-radius: 12px;
}